@model eWallet.Portal.Models.LoginViewModel

@{
    ViewBag.Title = "Đăng nhập hệ thống";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="azpay-breacum">
    <div class="container">
        <div class="row">
            <article class="col-lg-12">
                <a href="/">Trang chủ</a><span><i class="fa fa-angle-right"></i></span><span>@ViewBag.Title</span>
            </article>
        </div>
    </div>
</section> <!--end breacum-->
<div class="row">
    <div id="login-dp" class="col-md-6 col-md-offset-3">
        Đăng nhập qua
        <div class="social-buttons">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </div>
        hoặc
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "login-nav", @class = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "sr-only" })

                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Tên truy cập", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                @Html.PasswordFor(m => m.Password, new { placeholder = "Mật khẩu truy cập", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => m.RememberMe)
                <span>Remember me?</span>
                @*@Html.LabelFor(m => m.RememberMe)*@
            </div>
            <div class="form-group">
                <input id="btn-login" type="submit" value="Đăng nhập" class="btn btn-primary btn-block" />
            </div>
            <p>
                @Html.ActionLink("Đăng ký", "Register") nếu bạn muốn đăng ký tài khoản với địa chỉ email để truy cập.
            </p>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}