@{
    ViewBag.Title = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-3 ">
        <ul class="bg nav nav-pills nav-stacked nav-pills-stacked-example">
            <li class="active"><a href="#me" class="nav_link" data-href='@Url.Action("Me","Account",null,null)'>Thông tin chung</a></li>
            <li><a href="#profile" class="nav_link" data-href='@Url.Action("Profile","Account",null,null)'>Hồ sơ cá nhân</a></li>
            <li><a href="#transactions" class="nav_link" data-href='@Url.Action("List","Transaction",null,null)'>Lịch sử giao dịch</a></li>
        </ul>
    </div>
    <div class="col-md-9 bg" id="main_content">
        @*@Html.Action("List", "Transaction", null);*@
    </div>
    <div id="error"></div>
</div>
<script>
    var $func = window.location.hash.substr(1);
    if ($func) {
        switch ($func) {
            case 'me':
                loadPage('@Url.Action("Me","Account",null,null)');
                break;
            case 'profile':
                loadPage('@Url.Action("Profile","Account",null,null)');
                break;
            case 'transactions':
                loadPage('@Url.Action("List","Transaction",null,null)');
                break;
            default:
                loadPage('@Url.Action("Me","Account",null,null)');
                break;
        }
    } else {
        loadPage('@Url.Action("Me","Account",null,null)');
    };
    $('.nav_link').click(function () {
        $('.nav_link').parent().removeClass("active");
        $(this).parent().addClass("active");
        loadPage($(this).data("href"));
    });
    
</script>