@{
    ViewBag.Title = "Thông tin tài khoản";

}
<section id="azpay-breacum">
    <div class="container">
        <div class="row">
            <article class="col-lg-12">
                <a href="/">Trang chủ</a><span><i class="fa fa-angle-right"></i></span><span>@ViewBag.Title</span>
            </article>
        </div>
    </div>
</section> <!--end breacum-->
<section id="azpay-main">
    <div class="container">
        <div class="row">
            <aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <article class="utility-module">
                    <div class="heading">
                        <h3>Thông tin tài khoản</h3>
                    </div>
                    <ul>
                        <li class="active"><a href="#me" class="nav_link" data-href='@Url.Action("Me","Account",null,null)'>Thông tin chung</a></li>
                        <li><a href="#profile" class="nav_link" data-href='@Url.Action("Profile","Account",null,null)'>Hồ sơ cá nhân</a></li>
                        <li><a href="#transactions" class="nav_link" data-href='@Url.Action("List","Transaction",null,null)'>Lịch sử giao dịch</a></li>
                    </ul>
                </article>
                <script src="https://azpay.vn/templates/javascript/v2/owl.carousel.js"></script>
            </aside>
            <section class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="main_content"></section>
        </div>
    </div>
</section>

<div id="error"></div>
<script>
    var $func = window.location.hash.substr(1);
    if ($func) {
        switch ($func) {
            case 'me':
                loadPage('@Url.Action("Me","Account",null,null)');
                break;
            case 'profile':
                loadPage('@Url.Action("Profile","Account",null,null)');
                break;
            case 'transactions':
                loadPage('@Url.Action("List","Transaction",null,null)');
                break;
            default:
                loadPage('@Url.Action("Me","Account",null,null)');
                break;
        }
    } else {
        loadPage('@Url.Action("Me","Account",null,null)');
    };
    $('.nav_link').click(function () {
        $('.nav_link').parent().removeClass("active");
        $(this).parent().addClass("active");
        loadPage($(this).data("href"));
    });

</script>
