@{
    ViewBag.Title = "List Transactions";
    Layout = null;
}
@if (ViewBag.List != null)
{
    <div id="no-more-tables" class="widget-body">
        <table id="myDataTable" class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
                <tr>
                    <th>ID</th>
                    <th>Created Time</th>
                    @*<th>Customer ID</th>*@
                    <th>Type</th>
                    <th>Service</th>
                    <th>Provider</th>
                    <th>Payment Provider</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < ViewBag.List.Length; i++)
                {
                    var p = ViewBag.List[i];
                    var a = DateTime.ParseExact(p.system_created_time, "yyyyMMddHHmmss", null).ToString("dd/MM/yyyy HH:mm:ss");
                    <tr>
                        <td data-title="ID"><a data-id="@p._id" title="@p.note">@p._id.Split('-')[0]</a></td>
                        <td data-title="CreatedTime" data-sortable="true">@a</td>
                        <td data-title="Type">@p.transaction_type</td>
                        <td data-title="Service">@p.service</td>
                        <td data-title="Provider">@p.provider</td>
                        <td data-title="Payment Provider">@p.payment_provider</td>
                        <td data-title="Amount">@p.amount.ToString("N0") VNĐ</td>
                        <td data-title="Status">@p.status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h3>No data entry found!</h3>
}

@*<script src="~/css/test/bootstrap.min.js"></script>
<script src="~/css/test/jquery.bdt.min.js"></script>
<link href="~/css/test/jquery.bdt.css" rel="stylesheet" />

<script>
    $(document).ready( function () {
        $('#myDataTable').bdt();
    });
</script>*@

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#myDataTable').dataTable();
    });
</script>