@{
    ViewBag.Title = "List Transactions";
    Layout = null;
}
<ul class="breadcrumb">
    <li><a href='@Url.Content("/Home/Index")' class="glyphicons home"><i></i> eWallet</a></li>
    <li>Danh sách giao dịch</li>
</ul>
<div class="separator"></div>
@if (ViewBag.List != null)
{
        <div id="no-more-tables" class="widget-body" style="padding: 10px 0 0;">
            <table id="myDataTable" class="col-md-12 table-bordered table-striped table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th>ID</th>
                        <th>Created Time</th>
                        <th>@*<input type="checkbox" id="checkall" />*@Customer ID</th>
                        <th>Type</th>
                        <th>Service</th>
                        <th>Provider</th>
                        <th>Payment Provider</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (dynamic p in ViewBag.List)
                    {


                        <tr>
                            <td data-title="ID"><a href="#" data-id="@p._id" title="@p.note">@p._id.Split('-')[0]</a> </td>
                            <td data-title="CreatedTime">@DateTime.ParseExact(p.system_created_time, "yyyyMMddHHmmss", null).ToString("dd/MM/yyyy HH:mm:ss") </td>
                            <td data-title="Customer">@p.created_by</td>
                            <td data-title="Type">@p.transaction_type</td>
                            <td data-title="Service">@p.service</td>
                            <td data-title="Provider">@p.provider</td>
                            <td data-title="Payment Provider">@p.payment_provider</td>
                            <td data-title="Amount">@p.amount.ToString("N0") VNĐ</td>
                            <td data-title="Status">@p.status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
}
else
{
    <h3>No data entry found!</h3>
}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#myDataTable').dataTable();
    });
</script>