@{
    Layout = null;
}
<ul class="breadcrumb">
    <li><a href='@Url.Content("/Home/eWallet")'><img src="~/images/logo_tappay.png" /></a></li>
    <li>Yêu cầu rút tiền</li>
</ul>
<div class="separator"></div>
<div id="login-dp" class="content-dp col-md-7">
    <form class="form">
        <fieldset>
            <div class="form-group">
                <label for="bank" class="sr-only">Tài khoản nhận*</label>
                <select name="bank" id="bank" class="form-control">
                    <option value="">-- Chọn tài khoản nhận tiền --</option>
                    @foreach (dynamic account in ViewBag.accounts)
                    {
                        <option value="@account._id">@account.code/@account.name - @account.number</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="amount" class="sr-only">Số tiền muốn rút*</label>
                <input type="number" id="display" hidden>
                <input class="form-control" id="amount" onkeypress="return kaka(event, this)" type="text" placeholder="Số tiền muốn rút" />
            </div>
            <div class="form-group">
                <label for="note" class="sr-only">Nội dung</label>
                <input class="form-control" id="note" type="text" placeholder="Nội dung" />
            </div>
            <div class="form-group" id="payment_method">
                <a class="btn btn-success make_transaction" id="btn_confirm">Xác nhận</a>
            </div>
        </fieldset>
    </form>
</div>
<div id="login-dp" class="content-dp col-md-5">
    Hướng dẫn dịch vụ
</div>
<script>
    $("#account_bank").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("ListBank","Proxy",null,null)',
                dataType: "json",
                data: {
                    q: request.term
                },
                success: function (result) {
                    response(result);
                    //response($.map(data.d, function (item) {
                    //    return { label: item.Names, id: item.Guardian_Id }
                    //}))
                },
                error: function (xhr, status) {
                    alert("Không thể load dữ liệu. Vui lòng thử lại sau!" + xhr + status);
                }
            });
        },
        minLength: 2,
        select: function (event, ui) {
            //log(ui.item ?
            //  "Selected: " + ui.item.label :
            //  "Nothing selected, input was " + this.value);
        },
        open: function () {
            $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
        },
        close: function () {
            $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
        }
    });
    $('#btn_confirm').click(function () {
        NProgress.start();
        var $amount = $('#amount').val();
        var $note = $('#note').val();
        var $bank = $('#bank').val();
        $.ajax({
            url: '@Url.Action("CashOut_Bank", "Service")',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: { account_id:$bank, amount:$amount,note:$note }
        })
           .success(function (result) {
               NProgress.done();
               if (result.error_code == "00") {
                   window.location = window.location.protocol + "//" + window.location.host + "/" + result.url_redirect;
                   return;
               }
               else {
                   alert(result.error_message);
               }
           })
           .error(function (xhr, status) {
               NProgress.done();
               alert("Không thể load dữ liệu. Vui lòng thử lại sau!");
           });
    });
</script>

@*kiểm tra kiểu số khi nhập*@
<script language="javascript">
    function kaka(e, kakatexto) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    }
    //function validate(evt) {
    //    var theEvent = evt || window.event;
    //    var key = theEvent.keyCode || theEvent.which;
    //    key = String.fromCharCode(key);
    //    var regex = /[0-9]|\./;
    //    if (!regex.test(key)) {
    //        theEvent.returnValue = false;
    //        if (theEvent.preventDefault) theEvent.preventDefault();
    //    }
    //}

    //format money input
    document.getElementById("amount").onblur = function () {
        if (document.getElementById("amount").value != 0) {
            this.value = parseFloat(this.value.replace(/,/g, ""))
                            .toFixed()
                            .toString()
                            .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

    }
</script>
