@{
    ViewBag.Title = "Thanh toán hóa đơn";
    Layout = null;
}
<style>
    .sml-bank {
        border: 1px solid #ffffff;
        padding: 5px;
        /*margin: 10px 0px 10px 0px;*/
    }

    #group-main {
        margin: auto;
    }

    #group-bank {
        position: relative;
        width: 120px;
        height: 62px;
        padding: 3px;
        margin: 5px 0px 0px 5px;
        display: inline-block;
    }

        #group-bank label {
            z-index: 2;
            cursor: pointer;
            border: 1pt solid rgba(32, 31, 29, 0.33);
            width: 120px;
            height: 62px;
            position: absolute;
            background-color: antiquewhite;
            -webkit-transition-property: opacity;
            -moz-transition-property: opacity;
            -webkit-transition-duration: 800ms;
            -moz-transition-duration: 800ms;
        }

        #group-bank div {
            overflow: hidden;
            cursor: pointer;
            position: absolute;
            padding: 5px;
            font-family: tahoma;
            font-size: 11px;
            color: #ffffff;
            word-wrap: break-word;
            padding-top: 5px;
            text-align: center;
            width: 112px;
            height: 54px;
            background-color: #1EB453 !important;
            display: inline-block;
            opacity: 0;
            -webkit-transition-property: opacity,width,margin-left;
            -moz-transition-property: opacity,width,margin-left;
            -webkit-transition-duration: 800ms;
            -moz-transition-duration: 800ms;
        }

    .group-active {
        z-index: 9;
    }

        .group-active div {
            opacity: 1 !important;
            z-index: 1;
            width: 270px !important;
        }

        .group-active .transition-left {
            margin-left: -149px;
        }

        .group-active label {
            opacity: 0 !important;
        }

    .bk-selected {
        border-color: #1EB453 !important;
        opacity: 1 !important;
    }

    .desaturate {
        /*opacity: 0.5;*/
    }
</style>

<ul class="breadcrumb">
    <li><a href='@Url.Content("/Home/Index")' class="glyphicons home"><i></i> eWallet</a></li>
    <li>Thanh toán hóa đơn</li>
</ul>
<div class="separator"></div>
<div id="login-dp" class="content-dp col-md-7">
    <div class="form">
        <div class="form-group">
            <label class="sr-only" for="cb_services">Dịch vụ</label>
            <select class="form-control" id="cb_services">
                <option>--Chọn loại hình dịch vụ--</option>
                <option value="ESSE">Dịch vụ điện, nước</option>
                <option value="TELCO">Dịch vụ viễn thông, truyền hình cable</option>
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only" for="cb_providers">Nhà cung cấp</label>
            <select class="form-control" id="cb_providers">
                <option value="ESSE_EVNHN" data-service="ESSE">Hóa đơn điện - Tp Hà Nội</option>
                <option value="ESSE_EVNHCM" data-service="ESSE">Hóa đơn điện - Tp Hồ Chí Minh</option>
                <option value="TELCO_VTCC" data-service="TELCO">Truyền hình cable - VTC Cab</option>
                <option value="TELCO_VNPT" data-service="TELCO">Internet ADSL - VNPT</option>
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only" for="txt_bill_code">Mã hóa đơn, khách hàng</label>
            @*<input type="text" class="form-control" id="txt_bill_code" placeholder="Mã hóa đơn, khách hàng">*@
            <div class="input-group">
                <input type="text" class="form-control" id="txt_bill_code" placeholder="Mã hóa đơn, khách hàng">
                <div class="input-group-addon btn" id="btn_check_bill">Check</div>
            </div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="txt_bill_amount">Số tiền</label>
            <input class="form-control" id="txt_bill_amount" type="text" placeholder="Số tiền" readonly />
        </div>
        <div class="form-group">
            <label class="sr-only" for="txt_bill_customer">Họ tên Khách hàng</label>
            <input class="form-control" id="txt_bill_customer" type="text" placeholder="Họ và tên khách hàng" readonly />
        </div>
        <div class="form-group" id="payment_method">
            <a class="btn btn-primary" data-toggle="modal" href="#bankModal"><i class="glyphicon glyphicon-credit-card"></i> Thẻ ATM</a>
            <a class="btn btn-primary" id="pay_with_ewallet"><i class="glyphicon glyphicon-piggy-bank"></i> Ví GNC</a>
        </div>
        <div class="form-group payment-method-content payment-method-atm" >
            <label class="sr-only" for="bank">Ngân hàng</label>
            <input type="text" id="bank" name="bank" class="form-control" placeholder="Ngân hàng phát hành thẻ" required>
        </div>
    </div>
</div>
<div id="login-dp2" class="content-dp col-md-5">
    Hướng dẫn dịch vụ
</div>
<div id="bankModal" class="modal fade">
    <div id="bank-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Thanh toán bằng thẻ ATM</h4>
            </div>
            <div class="modal-body bank_content">
                <div class="sml-bank-boder sml-bank">
                    <div id="group-main" class="boder-img-bank">
                        <div id="group-bank" class="">
                            <a class="PayBillWithATM" data-bank="970436">
                                <label tabindex="85" for="atmOnline15" class="desaturate bank-img " id="atmOnline15" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/vietcombank.jpg');">

                                </label>
                            </a>
                        </div>
                        <div id="group-bank" class="">
                            <a class="PayBillWithATM" data-bank="970407">
                                <label tabindex="87" for="atmOnline60" class="desaturate bank-img " id="atmOnline60" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/techcombank.gif');">

                                </label>
                            </a>
                        </div>
                        <div id="group-bank" class="">
                            <a class="PayBillWithATM" data-bank="970422">
                                <label tabindex="89" for="atmOnline61" class="desaturate bank-img " id="atmOnline61" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/mbbank.gif');">

                                </label>
                            </a>
                        </div>
                        <div id="group-bank" class="">
                            <a class="PayBillWithATM" data-bank="970441">
                                <label tabindex="91" for="atmOnline62" class="desaturate bank-img " id="atmOnline62" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/vibbank.gif');">

                                </label>
                            </a>
                        </div>

                        <div id="group-bank" class="">
                            <a class="PayBillWithATM" data-bank="970489">
                                <label tabindex="88" for="atmOnline91" class="desaturate bank-img " id="atmOnline91" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/vietinbank.gif');">

                                </label>
                            </a>
                        </div>
                        <div id="group-bank" class="">
                            <a class="PayBillWithATM" data-bank="970441">
                                <label tabindex="96" for="atmOnline105" class="desaturate bank-img " id="atmOnline105" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/maritimebank.gif');">

                                </label>
                            </a>
                        </div>
                        <div id="group-bank" class="">
                            <a class="PayBillWithATM" data-bank="970432">
                                <label tabindex="97" for="atmOnline113" class="desaturate bank-img " id="atmOnline113" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/vpbank.gif');">

                                </label>
                            </a>
                        </div>


                        <div id="group-bank" class="">
                            <a class="PayBillWithATM" data-bank="970428">
                                <label tabindex="107" for="atmOnline96" class="desaturate bank-img " id="atmOnline96" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/namabank.gif');">

                                </label>
                            </a>
                        </div>
                        <div id="group-bank" class="">
                            <a class="PayBillWithATM" data-bank="161087">
                                <label tabindex="108" for="atmOnline97" class="desaturate bank-img " id="atmOnline97" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/saigonbank.gif');">

                                </label>
                            </a>
                        </div>

                        <div id="group-bank">
                            <a class="PayBillWithATM" data-bank="970430">
                                <label tabindex="103" for="atmOnline102" class="desaturate bank-img " id="atmOnline102" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/pgbank.gif');">

                                </label>
                            </a>
                        </div>

                        <div id="group-bank">
                            <a class="PayBillWithATM" data-bank="970499">
                                <label tabindex="104" for="atmOnline112" class="desaturate bank-img " id="atmOnline112" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/agribank.gif');">

                                </label>
                            </a>
                        </div>
                        <div id="group-bank" class="">
                            <a class="PayBillWithATM" data-bank="970427">
                                <label tabindex="110" for="atmOnline114" class="desaturate bank-img " id="atmOnline114" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/vietabank.gif');">

                                </label>
                            </a>
                        </div>

                        <div id="group-bank">
                            <a class="PayBillWithATM" data-bank="970414">
                                <label tabindex="129" for="atmOnline124" class="desaturate bank-img " id="atmOnline124" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/Oceanbank.gif');">

                                </label>
                            </a>
                        </div>
                        <div id="group-bank">
                            <a class="PayBillWithATM" data-bank="970459">
                                <label tabindex="132" for="atmOnline127" class="desaturate bank-img " id="atmOnline127" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/abbank.jpg');">

                                </label>
                            </a>
                        </div>
                        <div id="group-bank">
                            <a class="PayBillWithATM" data-bank="970423">
                                <label tabindex="95" for="atmOnline130" class="desaturate bank-img " id="atmOnline130" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/tienphongbank.png');">

                                </label>
                            </a>
                        </div>
                        <div id="group-bank" class="">
                            <a class="PayBillWithATM" data-bank="970488">
                                <label tabindex="93" for="atmOnline131" class="desaturate bank-img " id="atmOnline131" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/bidvbank.gif ');">

                                </label>
                            </a>
                        </div>
                        <div id="group-bank" class="">
                            <a class="PayBillWithATM" data-bank="970443">
                                <label tabindex="90" for="atmOnline148" class="desaturate bank-img " id="atmOnline148" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/shbbank.gif');">

                                </label>
                            </a>
                        </div>


                        <div id="group-bank">
                            <a class="PayBillWithATM" data-bank="970468">
                                <label tabindex="92" for="atmOnline153" class="desaturate bank-img " id="atmOnline153" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/seabank.gif');">
                                </label>
                            </a>
                        </div>
                        <div id="group-bank">
                            <a class="PayBillWithATM" data-bank="970409">
                                <label tabindex="134" for="atmOnline129" class="desaturate bank-img " id="atmOnline129" style="background:url('https://www.baokim.vn/thanh-toan/images/logo_bank/giao-dich/baca.jpg');">
                                </label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $("#bank").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("ListBank","Proxy",null,null)',
                dataType: "json",
                data: {
                    q: request.term
                },
                success: function (result) {
                    response(result);
                    //response($.map(data.d, function (item) {
                    //    return { label: item.Names, id: item.Guardian_Id }
                    //}))
                },
                error: function (xhr, status) {
                    alert("Không thể load dữ liệu. Vui lòng thử lại sau!" + xhr + status);
                }
            });
        },
        minLength: 2,
        select: function (event, ui) {
            //log(ui.item ?
            //  "Selected: " + ui.item.label :
            //  "Nothing selected, input was " + this.value);
        },
        open: function () {
            $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
        },
        close: function () {
            $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
        }
    });
    $(document).ready(function () {
        $('.payment-method-content').hide();
        $('#cb_providers').hide();
        $('#cb_providers option').hide();
        $('#btn-pay-by-atm').click(function () {
            $('.payment-method-content').hide();
            $('.payment-method-atm').show();
        })
        $('#cb_services').change(function () {
            $('#cb_providers').show();
            var $selected_service = $('#cb_services').val();
            $('#cb_providers option').hide();
            if ($selected_service) {
                $('#cb_providers option[data-service="' + $selected_service + '"]').show();
                $('#btn_check_bill').show();
            }
        });
        $('#btn_check_bill').click(function () {
            var $billNo = $('#txt_bill_code').val();
            var $service = $('#cb_services').val();
            var $provider = $('#cb_providers').val();
            if ($billNo) {
                $.ajax({
                    url: '@Url.Action("Payment_CheckBill", "Service")',
                    contentType: 'application/json; charset=utf-8',
                    type: 'GET',
                    dataType: 'json',
                    data: { service: $service, provider: $provider, bill_code: $billNo }
                })
               .success(function (result) {
                   if (result.error_code == "00") {
                       //var resp = result.response;
                       $('#txt_bill_amount').val(result.response.amount);
                       $('#txt_bill_customer').val(result.response.customer_name);
                       $('#payment_method').show();
                   }
                   else {
                       alert(result.error_message);
                   }
               })
               .error(function (xhr, status) {
                   //alert("Không thể load dữ liệu. Vui lòng thử lại sau!");
               });
            }
            else {
                alert('Bạn cần nhập vào mã hóa đơn/mã khách hàng');
            }
        });

        $('.PayBillWithATM').click(function () {
            var $bank = $(this).data("bank");

            var $billNo = $('#txt_bill_code').val();
            var $service = $('#cb_services').val();
            var $provider = $('#cb_providers').val();
            var $amount = $('#txt_bill_amount').val();
            var $customer_name = $('#txt_bill_customer').val();
            $.ajax({
                url: '@Url.Action("Payment_PayBill", "Service")',
                contentType: 'application/json; charset=utf-8',
                type: 'GET',
                dataType: 'json',
                data: { service: $service, provider: $provider, bill_code: $billNo, amount: $amount, payment_provider: "BANKNET", bank: $bank }
            })
               .success(function (result) {
                   if (result.error_code == "00") {
                       window.location = result.url_redirect;
                       return;
                   }
                   else {
                       alert(result.error_message);
                   }
               })
               .error(function (xhr, status) {
                   alert("Không thể load dữ liệu. Vui lòng thử lại sau!");
               });
        });

        $('#pay_with_ewallet').click(function () {
            var $bank = $(this).data("bank");

            var $billNo = $('#txt_bill_code').val();
            var $service = $('#cb_services').val();
            var $provider = $('#cb_providers').val();
            var $amount = $('#txt_bill_amount').val();
            var $customer_name = $('#txt_bill_customer').val();
            $.ajax({
                url: '@Url.Action("Payment_PayBill", "Service")',
                contentType: 'application/json; charset=utf-8',
                type: 'GET',
                dataType: 'json',
                data: { service: $service, provider: $provider, bill_code: $billNo, amount: $amount, payment_provider: "GNCE", bank: "" }
            })
               .success(function (result) {
                   if (result.error_code == "00") {
                       window.location = result.url_redirect;
                       return;
                   }
                   else {
                       alert(result.error_message);
                   }
               })
               .error(function (xhr, status) {
                   alert("Không thể load dữ liệu. Vui lòng thử lại sau!");
               });
        });
    });
</script>
