@{
    ViewBag.Title = "Nạp tiền điện tử";
}
<div class="row">
    <div class="col-md-3 ">
        <ul class="bg nav nav-pills nav-stacked nav-pills-stacked-example">
            <li class="active"><a href="#" class="nav_link" data-href='@Url.Action("TopupMobile", "Service", null, null)'>Nạp tiền điện thoại</a></li>
            <li><a href="#" class="nav_link" data-href='@Url.Action("TopupOnline", "Service", null, null)'>Nạp tiền tài khoản game, học trực tuyến</a></li>
@if(User.Identity.IsAuthenticated){
            <li><a href="#" class="nav_link" data-href='@Url.Action("List","Transaction",null,null)'>Tra soát giao dịch Nạp tiền</a></li>
}
        </ul>
    </div>
    <div class="col-md-9 bg" id="main_content">
        @*@Html.Action("List", "Transaction", null);*@
    </div>
    <div id="error"></div>
</div>
<script>
    var $func = window.location.hash.substr(1);
    if ($func) {
        switch ($func) {
            case 'mobile':
                loadPage('@Url.Action("TopupMobile", "Service", null, null)');
                break;
            case 'online':
                loadPage('@Url.Action("TopupOnline", "Service", null, null)');
                break;
            default:
                loadPage('@Url.Action("TopupMobile", "Service", null, null)');
                break;
        }
    } else {
        loadPage('@Url.Action("TopupMobile", "Service", null, null)');
    };
    $('.nav_link').click(function () {
        $('.nav_link').parent().removeClass("active");
        $(this).parent().addClass("active");
        loadPage($(this).data("href"));
    });
</script>